*{
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: rgb(67, 112, 238);
}

#top{
  display: grid;
}

#top button{
  justify-self: flex-end;
  margin: 0px 30px 60px 0;
  text-decoration: none;
  font-size: 19px;
  border: none;
  cursor: pointer;
}

h2{
  text-align: center;
  font-size: 40px;
  margin: 20px 0 40px 0;
}

#contactos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 700px;
  margin: auto;
}

#contactos .contenedor{
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 160px;
  background-color: #9ce7cf;
  justify-content: center;
  border-radius: 10px;
}

#contactos .contenedor h3{
  background-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}

#contactos .contenedor input{
  width: 50%;
  margin: 6px auto 0 auto;
  border: none;
  /* color: #fff; */
  text-align: center;
  background-color: transparent;
}

#form{
  display: none;
}